*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #B34F5A;
    margin-bottom: 80px;
}

footer{
    background-color: #3f92b8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
}